extends layout

block content
  div.container(style="background-image:url(https://7xjf2l.com2.z0.glb.qiniucdn.com/background.png);width:1360px;height:729px;position:relative;")
    include include/menu
    include include/reg
    include include/msg
    include include/throw
    include include/pick
    include include/mybottle
    include include/viewbottle