doctype html
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href='https://7xjf2l.com2.z0.glb.qiniucdn.com/bootstrap.min.css')
  body(style="margin-top:70px;font-family: 'Microsoft YaHei' ! important;")
    block content
  script(src='https://7xjf2l.com2.z0.glb.qiniucdn.com/jquery.min.js')
  script(src='https://7xjf2l.com2.z0.glb.qiniucdn.com/bootstrap.min.js')
  script(src='https://7xjf2l.com2.z0.glb.qiniucdn.com/drift.js')
