#msgModal.modal.fade(role='dialog',tabindex=-1,aria-hidden='true')
   .modal-dialog
      .modal-content
         .modal-header
            h4.modal-title 操作提示
               button.close(type='button',data-dismiss='modal',aria-hidden='true') 关闭
         .modal-body
            #msg
         .modal-footer
            button.btn.btn-default(type='button',data-dismiss='modal') 确定